/* OPCION A */
.gallery{
    overflow: hidden;
    text-align: center;
}

.gallery .image{
	  max-height: 300px;
	  overflow: hidden;
	  box-sizing: border-box;
	  background: #e0ddd5;
	  color: black;
	  padding: 10px;
} 


/* OPCION B */

